th {
  font-size: 18px;
  font-weight: 600;
}
.btnDrop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid red;
}
h3 {
  color: white;
  font-weight: 600;
  font-size: 32px;
}
tbody {
  color: white;
  font-size: 22px;
}
