h1 {
  font-weight: 600;
}
.details-episode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
}
.details-episode span {
  font-size: 20px;
  font-weight: 600;
}

.heading-table {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  padding: 1rem 0;
  background-color: var(--color-4);
}
